.blue-turaco {
    color: white;
    font-family: Allerta;
    position: relative;
    background-size: cover;
    background-position:top,left;
}

.blue-turaco__title {
    text-shadow: 1px 1px 1px #000,
        3px 3px 5px blue;
    font-size: 40px;
}

.blue-turaco__image {
    width: 100%;
    height: 100%;
    position: aboslute;
    top: 0;
    left: 0;
}

.blue-turaco__credit {
    position: absolute;
    bottom: 0;
    right: 20px;
    font-size: 12px;
    background: rgba(0,0,0,.75);
    padding: 5px;
}

.blue-turaco__tiles {
    height: 522px;
    width: 30%;
    padding: 0 10px 10px;
    color: black;
    padding: 0 10px 10px;
    opacity: .25;
}

.blue-turaco__habitat {
    z-index: 9;
    position: fixed;
    left: 20px;
    background: rgba(256,256,256, 1);
    box-shadow: 2px 2px 3px blue;
    opacity: 1;
}

.blue-turaco__habitat:hover {
    opacity: 1;
    z-index: 10;
    box-shadow: 2px 2px 3px blue;
}

.blue-turaco__habitat-image {
    display: block;
    width: 100%;
    margin-top: 10px;
}

.blue-turaco__traits {
    position: fixed;
    z-index: 5;
    left: 70px;
    top: 110px;
    background: rgba(256,256,256, .75);
    box-shadow: 2px 2px 3px black;
}

.blue-turaco__traits:hover {
    opacity: 1;
    z-index: 10;
    background: rgba(256,256,256, 1);
    box-shadow: 2px 2px 3px blue;
    border: 1px solid black;
}


.blue-turaco__traits-image {
    display: block;
    width: 100%;
    margin-top: 10px;
}

.blue-turaco__nests {
    position: fixed;
    z-index: 4;
    left: 120px;
    top: 140px;
    background: rgba(256,256,256, .75);
    box-shadow: 2px 2px 3px black;
}

.blue-turaco__nests:hover {
    opacity: 1;
    z-index: 10;
    background: rgba(256,256,256, 1);
    box-shadow: 2px 2px 3px blue;
    border: 1px solid black;
}

.blue-turaco__nests-image {
    display: block;
    width: 100%;
    margin-top: 10px;
}

.blue-turaco__status {
    position: fixed;
    z-index: 3;
    left: 170px;
    top: 160px;
    background: rgba(256,256,256, .75);
    box-shadow: 2px 2px 3px black;
}

.blue-turaco__status:hover {
    opacity: 1;
    z-index: 10;
    background: rgba(256,256,256, 1);
    box-shadow: 2px 2px 3px blue;
    border: 1px solid black;
}


.blue-turaco__status-image {
    display: block;
    width: 100%;
    margin-top: 10px;
}

.blue-turaco__diet {
    position: fixed;
    z-index: 2;
    left: 220px;
    top: 180px;
    background: rgba(256,256,256, .75);
    box-shadow: 2px 2px 3px black;
}

.blue-turaco__diet:hover {
    opacity: 1;
    z-index: 10;
    background: rgba(256,256,256, 1);
    box-shadow: 2px 2px 3px blue;
    border: 1px solid black;
}


.blue-turaco__diet-image {
    display: block;
    width: 100%;
    margin-top: 10px;
}

.blue-turaco__fun-facts {
    position: fixed;
    z-index: 1;
    left: 270px;
    top: 200px;
    background: rgba(256,256,256, .75);
    box-shadow: 2px 2px 3px black;
}

.blue-turaco__fun-facts:hover {
    opacity: 1;
    z-index: 10;
    background: rgba(256,256,256, 1);
    box-shadow: 2px 2px 3px blue;
    border: 1px solid black;
}


.blue-turaco__fun-facts-image {
    display: inline-block;
    vertical-align: top;
    width: 45%;
    margin-top: 10px;
}

