.blue-turaco {
    color: white;
    font-family: Allerta;
    position: relative;
    background-size: cover;
    background-position:top,left;
}

.blue-turaco__title {
    text-shadow: 1px 1px 1px #000,
        3px 3px 5px blue;
    font-size: 40px;
}

.blue-turaco__image {
    width: 100%;
    height: 100%;
    position: aboslute;
    top: 0;
    left: 0;
}

.blue-turaco__credit {
    position: absolute;
    bottom: 0;
    right: 20px;
    font-size: 12px;
    background: rgba(0,0,0,.75);
    padding: 5px;
}

.blue-turaco__tiles {
    width: 30%;
    padding: 0 10px 10px;
    color: black;
    padding: 0 10px 10px;
    background-color: transparent;
}

.blue-turaco__tiles h2 {
    color: white;
    font-size: 25px;
}

.blue-turaco__tile-content {
    max-height: 0;
    overflow: hidden;
    -webkit-transition: max-height .5s ease;
    transition: max-height .5s ease;
    background: rgba(256,256,256, 1);
}

.blue-turaco__habitat {
    z-index: 9;
    position: fixed;
    left: 10px;
    bottom: 0;
}

.blue-turaco__habitat:hover {
    z-index: 10;
}

.blue-turaco__habitat:hover .blue-turaco__habitat-content {
    max-height: 600px;
    display: block;
    -webkit-transition: max-height .5s ease;
    transition: max-height .5s ease;
}

.blue-turaco__habitat-image {
    display: block;
    width: 100%;
    margin-top: 10px;
}

.blue-turaco__traits {
    position: fixed;
    z-index: 5;
    left: 70px;
    bottom: 0;
}

.blue-turaco__traits:hover {
    z-index: 10;
}


.blue-turaco__traits:hover .blue-turaco__traits-content {
    max-height: 600px;
    display: block;
    -webkit-transition: max-height .5s ease;
    transition: max-height .5s ease;
}

.blue-turaco__traits-image {
    display: block;
    width: 100%;
    margin-top: 10px;
}

.blue-turaco__nests {
    position: fixed;
    z-index: 4;
    left: 120px;
    bottom: 0;
}

.blue-turaco__nests:hover {
    z-index: 10;
}

.blue-turaco__nests:hover .blue-turaco__nests-content {
    max-height: 600px;
    display: block;
    -webkit-transition: max-height .5s ease;
    transition: max-height .5s ease;
}

.blue-turaco__nests-image {
    display: block;
    width: 100%;
    margin-top: 10px;
}

.blue-turaco__status {
    position: fixed;
    z-index: 3;
    left: 170px;
    bottom: 0;
}

.blue-turaco__status:hover {
    z-index: 10;
}

.blue-turaco__status:hover .blue-turaco__status-content {
    max-height: 600px;
    display: block;
    -webkit-transition: max-height .5s ease;
    transition: max-height .5s ease;
}

.blue-turaco__status-image {
    display: block;
    width: 100%;
    margin-top: 10px;
}

.blue-turaco__diet {
    position: fixed;
    z-index: 2;
    left: 220px;
    bottom: 0;
}

.blue-turaco__diet:hover {
    z-index: 10;
}

.blue-turaco__diet:hover .blue-turaco__diet-content {
    max-height: 600px;
    display: block;
    -webkit-transition: max-height .5s ease;
    transition: max-height .5s ease;
}

.blue-turaco__diet-image {
    display: block;
    width: 100%;
    margin-top: 10px;
}

.blue-turaco__fun-facts {
    position: fixed;
    z-index: 1;
    left: 270px;
    bottom: 0;
}

.blue-turaco__fun-facts:hover {
    z-index: 10;
}

.blue-turaco__fun-facts:hover .blue-turaco__fun-facts-content {
    max-height: 600px;
    display: block;
    -webkit-transition: max-height .5s ease;
    transition: max-height .5s ease;
}

.blue-turaco__fun-facts-image {
    display: inline-block;
    vertical-align: top;
    width: 45%;
    margin-top: 10px;
}

